{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "arrow-body-style": ["error", "always"],
    "class-methods-use-this": "off",
    "func-names": "off",
    "max-len": ["error", {
      "code": 120,
      "ignoreComments": true
    }],
    "prefer-template": "off",
    "no-await-in-loop": "off",
    "no-console": "off",
    "no-control-regex": "off",
    "no-new-func": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off",
    "no-undef": "off",
    "no-useless-escape": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
